h1{
    color: brown;
}
button{
    color: rgb(56, 122, 56);
    border: 1px solid rgb(56, 122, 56);
    padding: 5px 15px;
    border-radius: 5px;
    font-size:22px;
}
form{
    color: brown;
}
.list-board{
    display: inline;
    list-style: none;
    margin-left: 15px;
}
.list-board:first-child{
    margin-left: unset;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.user-container{
    margin-left: 30px;
}
.title{
    color: brown;
    font-weight: 900;
}